body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #fafafa;
}

/* styling for ProfileDetails.jsx*/
.userProfile {
  display: flex;
  gap: 10%;
}

.userProfile div:nth-child(2) > div {
  flex-grow: 1;
  margin-top: 15px;
  display: flex;
  width: 400px;
  gap: 5%;
}

.userProfile div:nth-child(2) > div:nth-child(2) {
  justify-content: space-between;
}

.userProfile > div:nth-child(1) img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.userProfile > div:nth-child(2) > div img {
  width: 40px;
  height: 45px;
  margin-top: -5px;
}

.editBtn {
  margin: 2px;
  padding: 8px;
  height: 28px;
  background: #fafafa;
  font-weight: bold;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
}

/* styling for DisplayPost.jsx */
.postContainer {
  position: relative;
  height: 325px;
}

.postImg {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.postInfoContainer {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.postContainer:hover .postImg {
  opacity: 0.6;
  cursor: pointer;
}

.postContainer:hover .postInfoContainer {
  opacity: 1;
}

.postInfoContainer > div {
  display: flex;
  color: white;
  font-size: 20px;
  width: 100px;
  justify-content: space-between;
}

/* styling for DetailedPostInfo.jsx */
.postInfo > div:nth-child(1) {
  border: 1px solid green;
  height: 600px;
}

.postInfo > div:nth-child(1) > img {
  height: 100%;
  width: 100%;
}

.postInfo > div:nth-child(2) > div {
  margin-bottom: 20px;
  display: flex;
  padding: 20px 0px 0px 10px;
}
